<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-center">
			<div class="subheader">Weight</div>
		</div>
		<div class="d-flex align-items-baseline">
			<div class="h1 mb-0 me-2 weight-value">N/A</div>
		</div>
	</div>
	<div id="chart-weight" class="chart-sm"></div>
</div>

{% capture script %}
<script>
	document.addEventListener("DOMContentLoaded", function () {
		let chart = new ApexCharts(document.querySelector('#chart-weight'), {
			chart: {
				type: "line",
				fontFamily: 'inherit',
				height: 240,
				parentHeightOffset: 0,
				toolbar: {
					show: false,
				},
				animations: {
					enabled: false
				},
			},
			fill: {
				opacity: 1,
			},
			stroke: {
				width: 2,
				lineCap: "round",
				curve: "straight",
			},
			series: [{
				name: "Weight",
				data: []
			}],
			grid: {
				padding: {
					top: -20,
					right: 0,
					left: -4,
					bottom: -4
				},
				strokeDashArray: 4,
			},
			tooltip: {
				enabled: true,
				x: {
					format: "HH:mm:ss"
				}
			},
			xaxis: {
				labels: {
					format: 'HH:mm'
				},
				type: 'datetime',
			},
			yaxis: {
				min: 0,
				forceNiceScale: true,
				decimalsInFloat: 0
			}
		});

		chart.render();

		window.mobxAutorun(() => {
			console.log("Weight changed");
			const weight = window.deviceState.weight;
			document.querySelector('.weight-value').innerHTML = isNaN(weight) ? weight : (weight.toFixed() + 'g');
		});

		window.mobxAutorun(() => {
			console.log("Weight chart changed");
			chart.updateSeries([{
				data: window.deviceState.weightHistory
			}]);
		});
	});
</script>
{% endcapture %}

{% if include.show-scripts %}
{{ script }}
{% else %}
{% capture_global scripts %}
{{ script }}
{% endcapture_global %}
{% endif %}
